<%- include('./partials/header')  %> 


<!-- carrousel -->
	<body>
	
	<div class="slideshow-container">
	

	<div class="mySlides fade">
		<img class="foto-carrousel" src="images/banners/bannerPuma1.jpg">
		<div class="text"><a href="/product/all-products">¡Encontra todo tipo de productos deportivos!</a></div>
	  </div>
	
	<div class="mySlides fade">
	  <img class="foto-carrousel" src="images/banners/bannerNike1.jpg" >
	  <div class="text">
		<% if(locals.user == undefined) {%>
		  <a href="/login"> ¿Ya tenes cuenta? Inicia Sesión y publica tus productos</a>
		<%} else {%>
			<a href="/product/add">¡Publica tu producto rapido y seguro!</a>
		<% } %>
	</div>
	</div>

	<div class="mySlides fade">
		<img class="foto-carrousel" src="images/banners/bannerAdidas1.jpg"  >
		<div class="text">
			<% if(locals.user == undefined) {%>
				<a href="/register">¡Creá tu cuenta de manera facil y gratuita!</a>
			  <%} else {%>
				  <a href="/profile/following/<%= locals.user.id %> ">¡Segui a tus amigos!</a>
			  <% } %>
		</div>
	  </div>
	
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
	
	</div>
	
	<script>
	var slideIndex = 1;
	showSlides(slideIndex);
	
	function plusSlides(n) {
	  showSlides(slideIndex += n);
	}
	
	function currentSlide(n) {
	  showSlides(slideIndex = n);
	}
	
	function showSlides(n) {
	  var i;
	  var slides = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("dot");
	  if (n > slides.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = slides.length}
	  for (i = 0; i < slides.length; i++) {
		  slides[i].style.display = "none";  
	  }
	  for (i = 0; i < dots.length; i++) {
		  dots[i].className = dots[i].className.replace(" active", "");
	  }
	  slides[slideIndex-1].style.display = "block";  
	  dots[slideIndex-1].className += " active";
	}
	</script>
	

	<!-- Novedades -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			
			<!-- Show the "ultimos" products -->
			<% for (let i = 0; i < productos.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href='/product/id/<%= productos[i].id %>'>
						<figure class="product-box_image">
							<img src= "/images/products/<%= productos[i].url_imagen_producto %>"  alt='<%= productos[i].producto%> '>
						</figure>
						<article class="product-box_data">
							<h2>
								<% if(productos[i].categoria == null){ %> 
									 <%=productos[i].nombre%>
								<% } else{ %> 
									<%=productos[i].categoria + " " + productos[i].nombre%>
									<% } %> 

							</h2>
							<p><%= productos[i].descripcion  %> </p>
							<p> <%= productos[i].coments.length %>  Comentarios</p>
							<p><a href="/profile/id/<%=productos[i].user.id %>"> Publicado por: <%= productos[i].user.nombre_usuario  %></a></p>
						</article>
					</a>
				</section>
			</div>
			<%  } %> 
			
		</div>
	</div>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más Comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i = 0; i < coment.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href='/product/id/<%= coment[i].id %>'>
							<figure class="product-box_image">
								<img src= "/images/products/<%= coment[i].url_imagen_producto %>"  alt='<%= coment[i].producto%> '>
							</figure>
							<article class="product-box_data">
								<h2>
									<% if(coment[i].categoria == null){ %> 
										 <%=coment[i].nombre%>
									<% } else{ %> 
										<%=coment[i].categoria + " " + coment[i].nombre%>
										<% } %> 
	
								</h2>
								<p><%= coment[i].descripcion  %> </p>
								<p> <%= coment[i].coments.length %>  Comentarios</p>
								<p>Publicado por: <a href="/profile/id/<%=coment[i].user.id %>"> <%= coment[i].user.nombre_usuario  %></a> </p>
							</article>
						</a>
					</section>
				</div>
				<%  } %> 
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	
	
	<!-- /Más comentados -->
 	<%- include('./partials/footer')  %> 


