<%- include('./partials/header')  %>
	<!-- Banner -->
	<div class="banner">
		<img src="images/banners/bannerFila.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			
			<!-- Show the "ultimos" products -->
			<% for (let i = 0; i < productos.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href='/product/id/<%= productos[i].id %>'>
						<figure class="product-box_image">
							<img src= "<%= productos[i].url_imagen_producto %>"  alt='<%= productos[i].producto%> '>
						</figure>
						<article class="product-box_data">
							<h2>
								<% if(productos[i].categoria == null){ %> 
									 <%=productos[i].nombre%>
								<% } else{ %> 
									<%=productos[i].categoria + " " + productos[i].nombre%>
									<% } %> 

							</h2>
							<p><%= productos[i].descripcion  %> </p>
							<p> <%= productos[i].comentarios %>  Comentarios</p>
						</article>
					</a>
				</section>
			</div>
			<%  } %> 
			
		</div>
	</div>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mas Comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	
	
	<!-- /Más comentados -->
 	<%- include('./partials/footer')  %> 


