<%- include('./partials/header')  %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">
				<% if(producto.categoria == null){ %> 
					 <%=producto.nombre%>
				<% } else{ %> 
					<%=producto.categoria + " " + producto.nombre%>
					<% } %> 

			</h2>
			<% if(locals.user == undefined){ %>
			
				<% } else if (locals.user.id == producto.user_id){%>
					<p class="product-detail-a">
						<a href='/product/edit/<%= producto.id %>'>Editar Posteo</a>  
						
					</p>
					<form action="/product/id/<%= producto.id %>" style="display: inline;" method="POST">
						<button type="submit" class="borrado">Borrar Posteo</button>
					</form>
						<% } %>
			
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= producto.url_imagen_producto %> " alt="<%= producto.productos%>" class="product-detail-img">
					<p class="product-detail-description"><%= producto.descripcion %>  </p>
					<a class="product-detail-publicado" href="/profile/id/<%=producto.user.id %>"> Publicado por: <%= producto.user.nombre_usuario  %></a>
					
					
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < comentarioUser.length; i++) { %>
							<article>
								<img src="/images/profiles/<%= comentarioUser[i].user.url_imagen_usuario%>"  alt="">
								<div class="data">
									<p class="user">
									<strong> <a href='/profile/id/<%= comentarioUser[i].user_id %>  '><%= comentarioUser[i].user.nombre_usuario %>:  </a> </strong>
									 <%= comentarioUser[i].comentario %> </p>
								</div>
								</a>
							</article>
						<%  } %> 
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer')  %> 

