<%- include('./partials/header')  %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<% if(locals.user.id == perfil.id){ %>
				<h2 class="products-title">Editar mi perfil</h2>
				<% } else { %>
					<h2 class="products-title">No puedes editar este perfil ya que no te pertenece</h2>
				<% }%>

			</div>
			
			<!-- Show the "ultimos" products -->
			<% if(locals.user.id == perfil.id){ %>

			<form class="registrado" action="/profile/edit/id/<%= perfil.id %> " method="POST">
				<div class="dataRegistro">
				<p> <label for="Cambiar Nombre" ></label>
					<input type="text" placeholder="Cambiar Nombre" name="nombre" value="<%= perfil.nombre  %> ">
				</p>
				<p> <label for="Cambiar Apellido" ></label>
					<input type="text" placeholder="Cambiar Apellido" name="apellido" value="<%= perfil.apellido  %> ">
				</p>
				<p> <label for="Cambiar Nombre de Usuario" ></label>
					<input type="text" placeholder="Cambiar Nombre de Usuario" name="nombre_usuario" value="<%= perfil.nombre_usuario  %> ">
				</p>
				<p> <label for="Cambiar Telefono"></label>
					<input type="tel" placeholder="Cambiar Telefono" name="telefono" value="<%= perfil.telefono  %> ">
				</p>
				<p> <label for="Cambiar Email"></label>
					<input type="email" placeholder="Cambiar Email"  name="email" value="<%= perfil.email%> ">
				</p>
				<p> <label for="Cambiar Imagen de perfil"></label>
					<input type="text" placeholder="URL de nueva imagen del perfil" name="url_imagen_usuario" value="<%= perfil.url_imagen_usuario %> ">
				</p>
				</div>
				<button type="submit" onclick="show()" class="registrado-boton">Confirmar Cambios</button>
			
				<a href='/profile/delete/id/<%= perfil.id %> ' class="perfil-borrado">Borrar perfil</a>
				
			</form>
			<% }%>
			



	<%- include('./partials/footer')  %> 
