<%- include('./partials/header') %> 
	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src=/images/profiles/<%= perfil.url_imagen_usuario%> alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= perfil.nombre_usuario%>
						<% if(locals.user == undefined){ %>
			
						<% } else if (locals.user.id == perfil.id){%>
								<a href='/profile/edit/id/<%= locals.user.id %> '>
									<i class="fas fa-cog"></i>
								</a>
								<% } %>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="datos-perfil">
						<li><%= perfil.productos%></li>
						<li><%= perfil.seguidores%></li>
						<li><%= perfil.comentarios%></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% for (let i = 0; i < 8; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href='/product/id/<%= productos[i].id %>'>
							<figure class="product-box_image">
								<img src= "<%= productos[i].imagen %>"  alt="Camiseta Camiseta España Local">
							</figure>
							<article class="product-box_data">
								<h2> <%= productos[i].categoria + " " + productos[i].nombre %> </h2>
								<p><%= productos[i].descripcion  %> </p>
								<p> <%= productos[i].comentarios %>  Comentarios</p>
							</article>
						</a>
					</section>
				</div>
				<%  } %> 
		</div>
	</div>
	<!-- /Mis productos -->


	<%- include('./partials/footer')  %> 
