<%- include('./partials/header')  %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i = 0; i < productos.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href='/product/id/<%= productos[i].id %>'>
							<figure class="product-box_image">
								<img src= "<%= productos[i].imagen %>"  alt="Camiseta Camiseta España Local">
							</figure>
							<article class="product-box_data">
								<h2> <%= productos[i].producto + " " + productos[i].nombre %> </h2>
								<p><%= productos[i].descripcion  %> </p>
								<p> <%= productos[i].comentarios %>  Comentarios</p>
							</article>
						</a>
					</section>
				</div>
				<%  } %> 


	<%- include('./partials/footer')  %> 
